# TEMPLATE

pebble.prefix=/templates/peb/
pebble.suffix=.peb
pebble.expose-session-attributes=true
pebble.expose-request-attributes=true

spring.mvc.view.prefix=classpath:/templates/peb/
spring.mvc.view.suffix=.peb


# SERVER

server.servlet.context-path=/MyTube


# MVC

spring.servlet.multipart.max-file-size=1GB
spring.servlet.multipart.max-request-size=1GB
spring.mvc.throw-exception-if-no-handler-found=true


# JPA

spring.datasource.url=${WEBAPP_DATASOURCE_URL}
spring.datasource.username=${WEBAPP_DATASOURCE_USERNAME}
spring.datasource.password=${WEBAPP_DATASOURCE_PASSWORD}

spring.datasource.driver-class-name=${WEBAPP_DATASOURCE_DRIVER_CLASS_NAME}
spring.datasource.hikari.maximum-pool-size=20

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=${WEBAPP_JPA_SHOW_SQL}
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false

spring.jpa.hibernate.naming.implicit-strategy=org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

spring.data.web.pageable.default-page-size=2


# LOGGING

logging.level.ru.itis.nishesi.MyTube=${WEBAPP_PROJECT_LOGGING_LEVEL}
debug=${WEBAPP_SPRING_LOGGING_LEVEL}


# SECURITY

spring.security.filter.order=5
