# Template

pebble.prefix=/templates/peb/
pebble.suffix=.peb
pebble.expose-session-attributes=true
pebble.expose-request-attributes=true

spring.mvc.view.prefix=classpath:/templates/peb/
spring.mvc.view.suffix=.peb


# Server

server.servlet.context-path=/MyTube
debug=true
#trace=true
server.error.include-exception=true
server.error.include-stacktrace=always
#spring.main.allow-circular-references=true


# MVC

spring.servlet.multipart.max-file-size=1GB
spring.servlet.multipart.max-request-size=1GB
spring.mvc.throw-exception-if-no-handler-found=true


# JPA

spring.datasource.url=jdbc:postgresql://localhost:5432/demo
spring.datasource.username=postgres
spring.datasource.password=Qwerty228

spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.hikari.maximum-pool-size=20

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false

spring.jpa.hibernate.naming.implicit-strategy=org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

spring.data.web.pageable.default-page-size=2
